.search-table{
    display: table-header-group;
    align-self: center;
}

.search-table th,td,th{
    padding-left: 1rem;
    padding-right: 9rem;
    font-weight: bold;

}

.search-table th{
    font-weight: 900;
}


.pagination{
 display: flex;
 flex-direction: row; 
 list-style-type: none;
 font-size: 15px;
padding: 1rem;
}

.pagination li{
    
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    font-weight: 900;
    cursor: pointer;
    background-color: white;
}

li.selected{
    background-color: lightgray;
}

li.previous{
    background-color: lightblue;
}

.previous.disabled{
    background-color: lightgray;
}

li.next{
    background-color: lightblue;
}

.next.disabled{
    background-color:lightgray;
}

.search-container{
    display:flex;
    flex-direction: column;
}

.pagination-container{
    align-self: center;
}

